h1 {
	text-align: center;
	font-size: 56px;
}


.playerNames{
	position:absolute;
	top:100px;
	left:13%;
	display:inline;
}

.chessBoard{
	top:100px;
	left:32%;
	display:inline;
	margin-left:auto;
	margin-right:auto;
}

.logScreen{
	position:absolute;
	top:100px;
	right:15%;
	display:inline;
	margin-left:relative;
	margin-right:relative;
}

.endTurn{
	position:absolute;
	top:75%;
	right:15%;
	display:inline;
	margin-left:relative;
	margin-right:relative;
}

/*button design */
.buttonStyle
{
display:inline-block;
background:#F5B53E;
color:#444444;
border:2px solid #E0A12D;
border-radius:7px ;
font-size:23px ;
width: 244px ;
padding: 14px 14px 14px 14px ;
box-shadow: 0px 3px 1px #A39494;
-webkit-box-shadow: 0px 3px 1px #A39494;
-moz-box-shadow: 0px 3px 1px #A39494;
cursor:pointer;
font-family:'Gotham A', Gotham B, Verdana;
font-weight:bold;
text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
}


/* table layout, background colors and dimensions*/

table, tr, th, td {
  border-right: 3px solid black;
	border-bottom: 3px solid dimgray;
	border-left: 3px solid lightgray;
	border-top: 3px solid white;
	background-color: #f1f1f1;
	text-align: center;
}

tr, th {
  border-right: none;
	border-bottom: none;
	border-left: none;
	border-top: none;
	background-color: #f1f1f1;
	text-align: center;
}

.clickedId{
	background-color: #EE00DD;
}

td, th {
	height: 60px;
	width: 60px;
}

/*table{
	align: center;
}
*/








/*hightlights square when hovering over it with the mouse*/
td:hover {
	background-color: #d5d5d5;
	opacity:0.3;
}

.item__title {
			position: absolute;
			text-shadow: 0px 2px 3px #666;
			bottom:0;
			margin: 0;
			padding: 1em;
			padding-left:1em;
			padding-right:50%;
			color: black;
			font-size: 1.85em;
			font-family: Raleway, Verdana, serif;
			text-decoration:none;
			line-height: 2;
			opacity:0;
			transition: transform 0.3s, opacity 0.3s;
		}

		.selectSquare {
			color: black;/*#dbdbdb;*/
			opacity:0;
			transition: transform 0.3s, opacity 0.3s;
		}

		.select:hover .selectSquare {
			opacity: 1;
			background: #f2f2f2;
			transform: translate3d(-2px, 50px, 0)
		}


.blackSquare{
	background-color:#808080;
}

.whiteSquare{
	background-color:#f2f2f2;
}
